<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/fragments/adminLayout}">

<head>
    <title>Dashboard</title>
</head>

<body class="bg-gradient" layout:fragment="body">

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <!--a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm">
            <i class="text-white-50" data-feather="download"></i> Generate Report
        </a-->
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Customers
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${customers}"></div>
                            </div>
                            <div class="col-auto">
                                <i class="text-gray-300" data-feather="users"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Products
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${products}"></div>
                            </div>
                            <div class="col-auto">
                                <i data-feather="box" class="text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        Monthly Orders
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${monthly_orders}">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="text-gray-300" data-feather="calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Pending Orders
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${pending_orders}"></div>
                            </div>
                            <div class="col-auto">
                                <i data-feather="clock" class="text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Summary</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">
                        Pending Requests <span class="float-right" th:text="|${preparing_orders}%|"></span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar"
                            th:style="'width: ' + ${preparing_orders} + '%'" aria-valuenow="${preparing_orders}"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <h4 class="small font-weight-bold">
                        Preparing Orders <span class="float-right" th:text="|${processing_orders}%|"></span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar"
                            th:style="'width: ' + ${processing_orders} + '%'" aria-valuenow="${processing_orders}"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <h4 class="small font-weight-bold">
                        Processed Orders <span class="float-right" th:text="|${processed_orders}%|"></span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-secondary" role="progressbar"
                            th:style="'width: ' + ${processed_orders} + '%'" aria-valuenow="${processed_orders}"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <h4 class="small font-weight-bold">
                        Sent Orders <span class="float-right" th:text="|${sent_orders}%|"></span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" th:style="'width: ' + ${sent_orders} + '%'"
                            aria-valuenow="${sent_orders}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <h4 class="small font-weight-bold">
                        Done Orders <span class="float-right" th:text="|${done_orders}%|"></span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" th:style="'width: ' + ${done_orders} + '%'"
                            aria-valuenow="${done_orders}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>