<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/fragments/adminLayout}">

<head>
    <title>Orders</title>
</head>

<body class="bg-gradient" layout:fragment="body">
    <div class="px-4 my-3">
        <h3 class="text-warning">Orders (<span th:text="${orders.size()}"></span>)</h3>

        <div class="table-responsive p-1 my-4">
            <table class="table table-bordered w-100" id="dataTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Billing Email</th>
                        <th>Status</th>
                        <th>Items</th>
                        <th>Total (AKZ)</th>
                        <th>Placed on</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Billing Email</th>
                        <th>Status</th>
                        <th>Items</th>
                        <th>Total (AKZ)</th>
                        <th>Placed on</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.orderReference}"></td>
                        <td th:text="${order.payPalEmail}"></td>
                        <td class="text-center">
                            <span class="badge" th:classappend="${order.status.getStyle()}"
                                th:text="${order.status}"></span>
                        </td>
                        <td th:text="${order.items}"></td>
                        <td th:text="${@extensionsBean.toFormattedCurrency(order.total)}"></td>
                        <td th:text="${order.createdTime}"></td>
                        <td>
                            <a th:href="@{/admin/order/{orderReference}(orderReference=${order.orderReference})}"
                                class="btn btn-warning text-white w-100">Details</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<script layout:fragment="script">
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>

</html>