<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/adminLayout}">

<head>
  <title>Orders</title>
</head>

<body class="bg-gradient" layout:fragment="body">
    <div class="px-4 my-3">
        <div th:if="${param.changed}" class="alert alert-success my-2" role="alert">
            <span>Order status has been changed.</span>
        </div>
        <div th:if="${param.unchanged}" class="alert alert-secondary my-2" role="alert">
            <span>Order status remains unchanged.</span>
        </div>
        <div class="row mb-5">
            <div class="col-md-6">
                <small class="text-muted">
                    <span>Order</span>
                    <span class="fw-bold text-danger" th:text="|#${order.orderReference}|"></span>
                    <span th:text="|was placed on ${#temporals.format(order.createdTime, 'dd/MM/yyyy HH:mm:ss')}|"></span>
                </small>

                <h6 class="ff-light pt-3">
                    <span class="badge" th:classappend="${order.status.getStyle()}" th:text="${order.status}"></span>
                </h6>
                <h5 class="ff-light pb-3">Order Details</h5>

                <div class="mb-4">
                    <small class="text-muted d-block pb-3">Shipping Address</small>
                    <p class="lnw-0" th:text="${address.toString()}"></p>
                    <p class="lnw-0">
                        <span th:text="${order.referenceLocation}"></span>
                        <span class="text-warning fw-bold">*</span>
                    </p>
                </div>

                <div class="mb-4">
                    <small class="text-muted d-block pb-3">Payment Details (<span class="text-success" th:if="${order.isPaid}">Paid</span>)</small>
                    <p class="lnw-0">
                        <small>Billing Address:</small>
                        <small class="text-primary" th:text="${order.payPalEmail}"></small>
                    </p>

                    <p class="lnw-0">
                        <span th:text="|Total: ${@extensionsBean.toFormattedCurrency(order.total)}|"></span>
                        <small class="price">AKZ</small>
                    </p>

                    <p th:if="${shipping == 'Free'}" class="lnw-0">
                        <span>
                            <span>Shipping:</span>
                            <span class="text-success" th:text="${shipping}"></span>
                        </span>
                    </p>

                    <p th:if="${shipping != 'Free'}" class="lnw-0">
                        <span th:text="|Shipping: ${@extensionsBean.toFormattedCurrency(shipping)}|"></span>
                        <small class="price">AKZ</small>
                    </p>
                </div>

                <div class="mb-4" th:if="${!order.note.isEmpty()}">
                    <small class="text-muted d-block pb-2">Note</small>
                    <p th:text="${order.note}"></p>
                </div>
            </div>

            <div class="col-md-6">
                <h5 class="ff-light mb-3">Order Items (<span th:text="${order.items}"></span>)</h5>

                <form method="post" th:action="@{/admin/order}">
                    <small class="text-muted d-block pb-2">Order Status</small>
                    <div class="input-group mb-3">
                        <select name="status" id="status" class="form-select form-select-lg" aria-label=".form-select-lg example">
                            <option value="">(Select)</option>
                            <option th:each="status : ${T(com.clothesdelivery.web.enums.OrderStatus).values()}"
                                    th:value="${status}" th:text="${status}"></option>
                        </select>

                        <button class="btn btn-sm btn-warning" type="submit">Change</button>
                    </div>
                    <input type="hidden" name="ref" id="ref" th:value="${order.orderReference}">
                </form>

                <ul class="list-group">
                    <li th:each="item : ${order_items}" class="list-group-item d-flex justify-content-between align-items-center pt-3">
                       <span class="d-flex align-items-center">
                           <img width="35" th:src="${item.productImage}" th:alt="${item.productName}">
                           <span class="ps-3 pe-2" th:text="${item.productName}"></span>
                           <span class="fw-bold text-warning" th:text="|x${item.productQuantity}|"></span>
                       </span>
                        <span>
                            <span th:text="${@extensionsBean.toFormattedCurrency(item.productQuantity * item.productPrice)}"></span>
                            <small class="price">AKZ</small>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>