<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/adminLayout}">

<head>
    <title>Products</title>
</head>

<body class="bg-gradient" layout:fragment="body">
<div class="px-4 my-3">
   <div class="row">
       <div class="col">
           <h3 class="text-warning">Products (<span th:text="${products.size()}"></span>)</h3>
       </div>
       <div class="col text-right">
            <a class="btn btn-outline-warning" th:href="@{/admin/products/edit}">Add New Product</a>
       </div>
   </div>

    <div class="table-responsive p-1 my-4">
        <table class="table table-bordered w-100" id="dataTable">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Style</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>SKU</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Style</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.sku}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.quantityInStock}"></td>
                    <td th:text="${product.brand}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.genreStyle}"></td>
                    <td class="btn-group">
                        <a class="btn btn-danger text-white">
                            <span data-feather="trash-2"></span>
                        </a>
                        <a th:href="@{/admin/products/edit/{id}(id=${product.id})}" class="btn btn-primary text-white">
                            <span data-feather="edit"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

<script layout:fragment="script">
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
</html>