<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Clothes Admin</title>

    <meta name="description" content="Clothes, website.">
    <meta name="author" content="José Matoso & Bernarda Gonçalves">

    <meta name="theme-color" content="#ffc107" />
    <meta name="msapplication-navbutton-color" content="#ffc107" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffc107" />

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/libs/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/libs/datatables/datatables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/sb-admin-2.min.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="d-flex align-items-center justify-content-center" th:href="@{/admin/dashboard}">
                <div class="py-3 text-center">
                    <small class="text-uppercase text-white">Clothes Dashboard</small>
                </div>
            </a>

            <div class="nav-item">
                <a class="nav-link" th:href="@{/admin/dashboard}">
                    <span class="d-icon"><i data-feather="home" class="feather-icon-size"></i></span>
                    <span class="sidebar-nav-item">Dashboard</span>
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link" th:href="@{/admin/products}">
                    <span class="d-icon"><i data-feather="tag" class="feather-icon-size"></i></span>
                    <span class="sidebar-nav-item">Products</span>
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link" th:href="@{/admin/customers}">
                    <span class="d-icon"><i data-feather="users" class="feather-icon-size"></i></span>
                    <span class="sidebar-nav-item">Customers</span>
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link" th:href="@{/admin/orders}">
                    <span class="d-icon"><i data-feather="clock" class="feather-icon-size"></i></span>
                    <span class="sidebar-nav-item">Orders</span>
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link" th:href="@{/admin/users}">
                    <span class="d-icon"><i data-feather="user-check" class="feather-icon-size"></i></span>
                    <span class="sidebar-nav-item">Users</span>
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link" th:href="@{/logout}">
                    <span class="d-icon"><i data-feather="log-out" class="feather-icon-size"></i></span>
                    <span class="sidebar-nav-item">Logout</span>
                </a>
            </div>
        </nav>

        <div id="content-wrapper" class="d-flex flex-column">
            <main role="main" class="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div>
                        <span class="mr-2 d-none d-lg-inline text-warning-600 small px-2">
                            <strong>Hello, welcome again!</strong>
                        </span>
                    </div>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small px-2"
                                    th:text="${#authentication.name}"></span>
                                <img class="img-profile rounded-circle" th:src="@{/images/user.png}"
                                    alt="Representative user">
                            </a>
                        </li>
                    </ul>
                </nav>

                <div layout:fragment="body"></div>
            </main>

            <footer class="sticky-footer shadow-sm bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Clothes 2023</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/libs/datatables/datatables.min.js"></script>
<script src="/js/admin/sb-admin-2.min.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/js/site.js"></script>
<script>
    feather.replace();
</script>
<script layout:fragment="script"></script>

</html>