<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">BJClothes</title>

    <meta name="description" content="BJClothes, website.">
    <meta name="author" content="José Matoso & Bernarda Gonçalves">

    <meta name="theme-color" content="#876b36" />
    <meta name="msapplication-navbutton-color" content="#876b36" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#876b36" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

