@charset "UTF-8";

@font-face {
    font-family: 'Roboto Regular';
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
    font-weight: regular;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto Light';
    src: url("../fonts/Roboto/Roboto-Light.ttf") format('truetype');
    font-weight: light;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format('truetype');
    font-weight: medium;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url("../fonts/Roboto/Roboto-Thin.ttf") format('truetype');
    font-weight: thin;
}

body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #876b36 !important;
    transition: ease-in all .1s;
}

a:hover {
    color: #ffc107 !important;
}

p, span, small, pre,
h1, h2, h3, h4, h5, h6,
strong, a {
    font-family: 'Roboto Regular';
}

.w-25 { width: 25%; }
.w-35 { width: 35%; }

.centered { margin: 0 auto; }

.top-links a {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 28px;
    display: inline-block;
    cursor: pointer;
}

.bottom-links a {
    margin-right: 28px;
    display: inline-block;
    cursor: pointer;
}

.product-item {
  display: none;
}

.product-item.show {
  display: block;
}

.product-filters {
    margin-top: 5em;
}

.product-filters .nav-link {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
