@charset "UTF-8";

@font-face {
    font-family: 'Roboto Regular';
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
    font-weight: regular;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto Light';
    src: url("../fonts/Roboto/Roboto-Light.ttf") format('truetype');
    font-weight: light;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format('truetype');
    font-weight: medium;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url("../fonts/Roboto/Roboto-Thin.ttf") format('truetype');
    font-weight: thin;
}

body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    transition: ease-in all .1s;
    cursor: pointer;
}

.nav-link, .navbar-brand {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #876b36 !important;
}

.nav-link:hover {
    color: #ffc107 !important;
}

p, span, small, pre,
h1, h2, h3, h4, h5, h6,
strong, a {
    font-family: 'Roboto Regular';
}

.shadow-xs {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.03)!important;
}

.w-25 { width: 25%; }
.w-35 { width: 35%; }

.text-decoration-underline {
    text-decoration-color: #ffc107 !important;
}

.centered { margin: 0 auto; }

.top-links a,
.bottom-links a{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 28px;
    display: inline-block;
    cursor: pointer;
    color: #ffc107 !important;
}

.top-links a:hover,
.bottom-links a:hover {
    color: #876b36 !important;
}

.items, .row {
  transition: all 0.5s ease-in-out;
}

.product-item {
  display: none;
}

.product-item.show {
  display: block;
}

.product-filters {
    margin-top: 5em;
}

.product-filters .nav-link {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-filter { cursor: pointer; }

footer .nav-item a {
    color: #bdbdbd !important;
}

footer .nav-item a:hover,
.contact-social span a:hover {
    color: #ffc107 !important;
}

.contact-social span {
    font-size: 18pt;
    cursor: pointer;
    margin-right: 4px;
}

.contact-social span a {
    color: #bdbdbd !important;
}