<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/authLayout}">

<head>
    <title>Register</title>

    <section layout:fragment="metas" th:remove="tag">
        <meta property="og:title" content="Register - Clothes" />
        <meta property="og:url" th:content="${hostPath}" />
        <meta property="og:image" th:content="@{|${hostUrl}/images/logo.png|}" />
    </section>
</head>

<body layout:fragment="body">
    <form method="post" th:action="@{/signup}" th:object="${signup}" class="w-35 centered p-3">
        <div class="text-center mb-3">
            <a th:href="@{/}">
                <img th:src="@{/images/logo.png}" class="mb-3" width="100" height="100"  alt="Clothes Logo" />
            </a>
            <small class="my-2 mb-4 d-block">Be welcome to Clothes</small>
        </div>

        <div th:if="${result.success == false && result.message != null}" class="alert alert-warning my-2" role="alert">
            <span th:text="${result.message}"></span>
        </div>

        <div th:if="${result.success == true && result.message != null}" class="alert alert-success my-2" role="alert">
            <span th:text="${result.message}"></span>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="text" required class="form-control" id="name" name="name" th:field="*{name}" placeholder="John Doe">
                        <label for="name">Name</label>
                    </div>
                    <small th:if="${#fields.hasErrors('name')}" class="text-danger d-block my-1" th:errors="*{name}"></small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="date" required class="form-control" id="birthdate" name="birthdate" th:field="*{birthdate}">
                    <label for="birthdate">Birthday</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="tel" required class="form-control" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" placeholder="+244 999 999 999">
                        <label for="phoneNumber">Phone Number</label>
                    </div>
                    <small th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger d-block my-1" th:errors="*{phoneNumber}"></small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="email" required class="form-control" id="email" name="email" th:field="*{email}" placeholder="name@example.com">
                        <label for="email">Email address</label>
                    </div>
                    <small th:if="${#fields.hasErrors('email')}" class="text-danger d-block my-1" th:errors="*{email}"></small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="text" required class="form-control" id="city" name="city" th:field="*{city}" placeholder="Luanda">
                        <label for="city">City</label>
                    </div>
                    <small th:if="${#fields.hasErrors('city')}" class="text-danger d-block my-1" th:errors="*{city}"></small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="text" required class="form-control" id="address" name="address" th:field="*{address}" placeholder="Maianga, Rua 3, Casa 2">
                        <label for="address">Address</label>
                    </div>
                    <small th:if="${#fields.hasErrors('address')}" class="text-danger d-block my-1" th:errors="*{address}"></small>
                </div>
            </div>
        </div>

        <div>
            <div class="form-floating">
                <input type="password" required class="form-control" autocomplete="new-password" id="password" name="password" th:field="*{password}" placeholder="Password">
                <label for="password">Password</label>
            </div>

            <small th:if="${#fields.hasErrors('password')}" class="text-danger d-block my-1" th:errors="*{password}"></small>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-lg w-100 btn-warning">Continue</button>
        </div>

        <span class="mt-2 d-block">
            I already have an
            <a th:href="@{/login}">account</a>.
        </span>
    </form>

    <div class="text-center mt-3">
        <small class="text-muted d-block">Read our <a class="text-warning" th:href="@{/terms}">terms and policy</a>.</small>
        <small class="text-muted d-block">All rights reserved to Clothes. &copy;2023</small>
    </div>
</body>
</html>