<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">

<head>
    <title>Bag</title>
</head>

<body class="bg-gradient" layout:fragment="body">
    <div class="container mt-3">
        <h3>Items (4)</h3>

        <div class="table-responsive mb-4">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    Content
                </tbody>
            </table>
        </div>
    </div>
</body>

<script layout:fragment="script">
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
</html>