<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/authLayout}">

<head>
    <title>Checkout</title>

    <section layout:fragment="metas" th:remove="tag">
        <meta property="og:title" content="Checkout - Clothes" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Time to get your new clothes, complete the checkout." />

        <meta property="og:url" th:content="${hostPath}" />
        <meta property="og:image" th:content="@{|${hostUrl}/images/logo.png|}" />
    </section>
</head>

<body layout:fragment="body">
    <div class="container w-60 centered">
        <div class="py-2">
            <small class="">
                <a th:href="@{/}">Home</a> /
                <a th:href="@{/bag}">Bag</a> /
                <span>Check out</span>
            </small>
        </div>
       <form method="post" th:action="@{/checkout}" role="form" class="row">
           <div class="col-md-7">
               <h3 class="mb-3">Checking out</h3>

               <div class="mb-5">
                    <h5 class="ff-light">Billing Address</h5>
                    <span class="py-2 d-block mb-2" th:text="${address.toString()}"></span>
                    <div class="form-floating">
                        <input type="text" required class="form-control" id="location" name="location" placeholder="IMETRO College">
                        <label for="location">Reference Location</label>
                    </div>
               </div>

               <div class="mb-5">
                   <h5 class="ff-light mb-3 row">
                       <div class="col-6">
                           Payment Details (PayPal)
                       </div>
                       <div class="col-6 text-end">
                           <small class="px-3 fs-6">Secure Payment</small>
                           <span data-feather="lock" class="text-success"></span>
                       </div>
                   </h5>
                   <div class="form-floating">
                       <input th:value="${authenticatedUser.email}" type="email" required class="form-control" id="paypalEmail" name="paypalEmail" placeholder="user@gmail.com">
                       <label for="paypalEmail">PayPal Email Address</label>
                   </div>
               </div>

               <div class="mb-5">
                   <h5 class="ff-light">Orders Details</h5>
                   <ul class="list-group">
                       <li th:each="product : ${products}" class="list-group-item d-flex justify-content-between align-items-center pt-3">
                           <span class="d-flex align-items-center">
                               <img width="35" th:src="${product.productImage}" th:alt="${product.productName}">
                               <span class="ps-3 pe-2" th:text="${product.productName}"></span>
                               <span class="fw-bold text-warning" th:text="|x${product.quantity}|"></span>
                           </span>
                           <span>
                                <span th:text="${@extensionsBean.toFormattedCurrency(product.quantity * product.productPrice)}"></span>
                                <small class="price">AKZ</small>
                            </span>
                       </li>
                   </ul>
               </div>
           </div>
           <div class="col-md-5 mb-5">
               <h3>Summary</h3>
               <ul class="list-group py-3 mb-3">
                   <li class="list-group-item d-flex justify-content-between align-items-center border-bottom-dashed pt-3">
                       <span>Bag (<span th:text="${products.size()}"></span>)</span>
                       <span>
                            <span th:text="${totalProducts}"></span>
                            <small class="price">AKZ</small>
                        </span>
                   </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center border-bottom-dashed pt-3">
                       Shipping Price
                       <span>
                            <span th:text="${ship}"></span>
                            <small class="price" th:if="${ship != 'Free'}">AKZ</small>
                        </span>
                   </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center border-bottom-dashed pt-3">
                       Total
                       <span>
                            <span th:text="${total}"></span>
                            <small class="price">AKZ</small>
                        </span>
                   </li>
               </ul>

               <div class="form-floating mb-3">
                   <textarea class="form-control" placeholder="Leave a comment here" name="note" id="note" style="height: 100px"></textarea>
                   <label for="note">Note</label>
               </div>

               <button type="submit" class="btn btn-lg btn-warning w-100" th:if="${products.size() >= 1}">Complete</button>
           </div>
       </form>
    </div>
</body>
</html>