<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">

<head>
    <title>Get In Touch</title>

    <section layout:fragment="metas" th:remove="tag">
        <meta property="og:title" content="Get In Touch - Clothes" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Get in touch with us." />

        <meta property="og:url" th:content="${hostPath}" />
        <meta property="og:image" th:content="@{|${hostUrl}/images/logo.png|}" />
    </section>
</head>

<body class="bg-gradient" layout:fragment="body">
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-9 mb-5">
                <div class="overflow-top">
                    <h3 class="py-4">Get in Touch</h3>

                    <div class="alert alert-warning mb-3" id="alertWarning" role="alert">
                      All fields are required, fill it all.
                    </div>

                    <div>
                        <div class="row mb-1">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                                    <label for="name">Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="tel" class="form-control" id="phone" name="phone"  placeholder="9XX-XXX-XXX">
                                    <label for="phone">Phone</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                          <label for="email">Email address</label>
                        </div>

                        <input type="hidden" th:value="${phone}" id="to" name="to">

                        <div class="form-floating mb-3">
                          <textarea class="form-control" name="message" placeholder="Leave a message here..." id="message" style="height: 100px"></textarea>
                          <label for="message">Message</label>
                        </div>

                        <div>
                        <button class="btn btn-warning" onclick="validateForm()">Submit</button>
                      </div>
                    </div>

                    <div class="mt-5">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126152.9522212631!2d13.214063701909478!3d-8.853525839594028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a51f15cdc8d2c7d%3A0x850c1c5c5ecc5a92!2sLuanda!5e0!3m2!1spt-PT!2sao!4v1676132891234!5m2!1spt-PT!2sao"
                                style="border-radius:7px; width: 100%; height: 450px;"
                                allowfullscreen=""
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
              </div>
            </div>
            <div class="col-lg-3">
                <div class="overflow-top">
                    <div style="border-radius: 7px;" class="mb-3 p-3 fw-semibold text-black bg-light bg-opacity-100 border border-light border-opacity-100">
                        <h3 class="mb-4">Contact</h3>
                        <div class="row mb-3">
                            <div class="col-2">
                                <span data-feather="phone"></span>
                            </div>
                            <div class="col-10">
                                <h6>Phone</h6>
                                <span th:text="${phone}"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-2">
                                <span data-feather="mail"></span>
                            </div>
                            <div class="col-10">
                                <h6>Email</h6>
                                <span th:text="${email}"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-2">
                                <span data-feather="map-pin"></span>
                            </div>
                            <div class="col-10">
                                <h6>Location</h6>
                                <span>Luanda, Angola</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script layout:fragment="script">
    var alert = $("#alertWarning");

    $(document).ready(alert.hide());

    function validateForm() {
        var name = $("#name");
        var phone = $("#phone");
        var email = $("#email");
        var message = $("#message");
        var to = $("#to");

        var controls = new Array(name, phone, email, message);

        if(!validate(controls)) {
            alert.show();
            return;
        }

        sendMessage(name.val(), phone.val(), email.val(), message.val(), to.val());
        clearFields(controls);
        alert.hide();
    }

    function validate(controls) {
        for(index in controls) {
            if(controls[index].val() <= 0) {
                return false;
            }
        }

        return true;
    }

    function sendMessage(name, phone, email, message, to) {
        var url = `https://wa.me/send?phone=${to}&text=${name}%0a%0a${message}%0a%0a${phone} - ${email}`;
        window.open(url, '_blank').focus();
    }

    function clearFields(controls) {
        for(index in controls) {
            controls[index].val("");
        }
    }
</script>
</html>