<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/authLayout}">

<head>
    <title>Error</title>
</head>

<body class="bg-gradient bg-light" layout:fragment="body">
    <div class="text-center p-5">
        <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" class="mb-3" width="100" height="100"  alt="Clothes Logo" />
        </a>

        <h1>Something went wrong!</h1>
        <h2>Breathe, because at this point I don't know either what's happening.</h2>

        <small class="mt-5 d-block text-uppercase">
            <a th:href="@{/}">Back to site</a>
        </small>
    </div>
</body>

</html>