<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <meta name="description" content="BJClothes, website.">
    <meta name="author" content="José Matoso & Bernarda Gonçalves">

    <meta name="theme-color" content="#876b36" />
    <meta name="msapplication-navbutton-color" content="#876b36" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#876b36" />

    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/libs/bootstrap/dist/css/bootstrap.min.css}" />
</head>
<body>
  <h1>500 - Something Went Wrong</h1>
</body>
</html>