<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/fragments/layout}">

<head>
    <title>Not Found</title>

    <section layout:fragment="metas" th:remove="tag">
        <meta property="og:title" content="Not Found - Clothes" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Whatever you are looking for, we didn't find it." />

        <meta property="og:url" th:content="${hostPath}" />
        <meta property="og:image" th:content="@{|${hostUrl}/images/logo.png|}" />
    </section>
</head>

<body class="bg-gradient bg-light" layout:fragment="body">
    <div class="text-center p-5">

        <img th:src="@{/images/notfound.svg}" class="mb-3" width="300" height="300" alt="Clothes Order Completed" />
        <h2 class="py-3">Dude, whatever you're looking for is not here.</h2>

        <small class="mt-5 d-block text-uppercase">
            <a th:href="@{/}">Back to site</a>
        </small>
    </div>
</body>

</html>